{% resource 'ext_v1/form_submit.js' %}
{% resource 'ext_v1/actions_resource.js' %}

<!--Questionnaires css-->
<link rel="stylesheet" href="/questionnaire_style.css">
<link rel="stylesheet" href="/geo_location.css">
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />

<!--resource-edit-->
<form id="form-target" data-module="actions_resource" class="dataset-form dataset-resource-form" method="post"
    enctype="multipart/form-data">
    <ol class="stages stage-2" id="all_stages">
    </ol>
    <h1 id="form-title" class="form_title_quest">Questionnaire -
    </h1>
    <div class="page-loading-loader" id="loader" style="display: block ;width: 100%; height: 100%;">
        <img style="margin: auto; display: block;" src="/loader.gif" />
        <p class="saving_loader" id="saving_loader" style="display: none;">Saving...</p>
    </div>
    <div id="text-initial-presentation" style="display: none;">
        <div class="form-group" style="text-align: center; margin: 0 32px 0 32px;">
            <p>
                The follow questionnaire it consists on several questions in order to collect specific information
                that enables us to design and structure more concise guidelines.
                Please answer to all the questions with serenity and truthfulness.
            </p>
        </div>
        <div class="form-group" style="text-align: center;">
            <span class="info-block info-block-small">
                <i class="fa fa-info-circle"></i>
                Above its a resume of all the modules included in the questionnaire
            </span>
        </div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    </div>

    <div id="quest_content_form">
    </div>

    <div class="panel-group" id="finish_quest" aria-multiselectable="true"
        style="display: none; padding-top: 24px ;margin-top: 24px; border-top: 1px solid lightgray; text-align: center;">
        <p>Thank you for your contribution!</p>
        <p>We hope that you enjoyed our questionnaire.</p>
        <p>In case of any doubts or constructive criticism, please contact us.</p>
        <p>
        <h3>To submit the questionnaire, save and close it.</h3>
        </p>
    </div>

    <div class="form-actions" style="display: none;">
        <button id="cancel_quest" class=" btn btn-default" type="button">Cancel</button>
        <button id="start_quest" type="button" style="display: inline-block;" class="btn btn-success" name="save"
            id="forms_normal">Start</button>
        <button id="next_quest" type="button" style="display: none;" class="btn btn-primary"
            id="forms_normal">Next</button>
        <button id="finalize_quest" type="button" style="display: none;" class="btn btn-primary"
            id="forms_normal">Finalize</button>
        <button id="submitForm" type="button" style="display: none;" class="btn btn-primary" data-module="form_submit"
            data-toggle="modal" data-target="#confirmModal">Save & Close</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="top:30vh">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center;" id="confirmModalLabel">Questionnaire Submitted
                    </h4>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <p>Your questionnaire has been submitted with success! </p>
                    <p>Thank you!</p>
                    <i class="fa fa-check-circle" style="font-size: 5em; color: green;" aria-hidden="true"></i>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" onclick="location.href='./'" style="width: 100%; padding: 8px;"
                        data-dismiss="modal">
                        Close</button>
                </div>
            </div>
        </div>
    </div>

</form>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>