<section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What\'s a resource?') }}</h2>
    <div class="module-content">
        <p>{{ _('A resourcesss can be any file or link to a file containing useful data.') }}</p>
        <span style="font-style: italic; margin-top: 8px; font-weight: bold;">Note:</span>
        <p>If you want to upload a new survey content, please generate the data in
            <a href="https://surveyjs.io/Examples/Survey-Creator" target="_blank">Survey Content Generator</a>.<br />
            <span style="font-style: italic; margin-top: 8px; font-size: 10px;">Please use only
                'Radiogroup' and 'Single input' tools for the questions. For more help please download
                <a href="/Survey_Content_Instructions.txt" download>
                    HERE
                </a></span>
        </p>
    </div>
</section>