{% trans %}
<h1>Privacy Policy</h1>

<p>This section informs you of CKAN'S LINK policies regarding the collection, use and disclosure of Personal
    Information.
    Your information will not be used or shared with anyone except as described in this Privacy Policy.

    We use your Personal Information to get back to you after receiving your message. By using our website, you agree to
    the
    collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy,
    terms
    used in this Privacy Policy have the same meanings as in our Terms and Conditions, available below.</p>

<h3>Information Collection And Use</h3>
<p>
    While using our website, we may ask you to provide us with certain personally information that can be used to
    contact or
    identify you. This information may include, but is not limited to:
<ul>
    <li>Name</li>
    <li>Email address</li>
    <li>Log Data, which may include information on your computer’s Internet Protocol (“IP”) address, browser type,
        browser
        version, the pages of CKAN that you visit, the time and date of your visit, the time spent on those
        pages and
        other</li>
</ul>
</p>
<h3>Cookies</h3>
<p>
    Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to
    your
    browser from a web site and stored on your computer’s hard drive.
    We use “cookies” to collect information. You can instruct your browser to refuse all cookies or to indicate when a
    cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our
    website.
</p>
<h3>Security</h3>
<p>The security of your Personal Information is important to us, but remember that no method of transmission over the
    Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to
    protect your Personal Information, we cannot guarantee its absolute security.</p>
<h3>Links To Other Sites</h3>
<p>Our website may contain links to other sites that are not operated by us. If you click on a third-party link, you
    will
    be directed to that third-party’s site. We strongly advise you to review the Privacy Policy of every site you visit.
    We have no control over and assume no responsibility for the content, privacy policies or practices of any third
    party
    sites or services.</p>
<h3>Children’s Privacy</h3>
<p>Our website does not address anyone under the age of 18.
    We do not knowingly collect personally identifiable information from children under 18. If you are a parent or
    guardian
    and you are aware that your child has provided us with Personal Information, please contact us. If we discover that
    a
    child under 18 has provided us with Personal Information, we will delete such information from our servers
    immediately.</p>
<h3>Compliance With Laws</h3>
<p>We will disclose your Personal Information where required to do so by law or subpoena.</p>

<hr>

<h1>Terms and Conditions</h1>
<p>These Terms apply to all visitors, users and others who access our website.
    By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms
    then
    you may not access our website.</p>
<h3>Intellectual Property</h3>
<p>The Service and its original content, features and functionality are and will remain the exclusive property of
    ckan and its licensors.</p>
<h3>Termination</h3>
<p>We may terminate or suspend access to our website immediately, without prior notice or liability, for any reason
    whatsoever, including without limitation if you breach the Terms.
    All provisions of the Terms which by their nature should survive termination shall survive termination, including,
    without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
<h3>Disclaimer</h3>
<p>Your use of our website is at your sole risk.
    CKAN is provided without warranties of any kind, whether express or implied, including, but not limited to,
    implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.
</p>

<h3>Changes</h3>
<p>We reserve the right, at our sole discretion, to modify or replace either our Privacy Policy or Terms and
    Conditions at
    any time. We will notify you of any changes by posting the updated version on this page. Change are effective when
    they
    are posted on this page.</p>

<p>If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect.
    What
    constitutes a material change will be determined at our sole discretion. By continuing to access or use
    CKAN
    after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new
    terms, please stop using the Service.</p>

<h3>Contact Us</h3>
<p>If you have any questions regarding either our Privacy Policy or Terms and Conditions, please let us know by
    sending an
    email to -----------.</p>

<p>Last updated in November 20th, 2020</p>
{% endtrans %}