<!-- Modal to cookies policy-->
<div id="cookieConsent" class="row" style="display: none;">
    <div class="col-md-12" style="text-align: center;">
        <span class="text-display">We use cookies to ensure that we give you the best experience on
            our website. If
            you continue
            to use this site we
            will assume that you accept it.</span>
        <span class="btns-display"><a id="consentOK" class="cookieConsentOK">Continue</a>
            <a href="/privacy-policy" class="cookieConsentOK" target="_blank">Privacy Policy</a></span>
        <span class="close-display"><a id="closeCookieConsent"><i class="close-fa fa fa-close"></i></a></span>
    </div>


</div>