<div role="main" class="hero" aria-labelledby="Initial block with questionnaire list and search section">
    <div class="container-fluid">
        <div class="row row1">
            <div class="col-md-8 col1">
                {% block promoted %}
                {% snippet 'snippets/promoted.html' %}
                {% endblock %}
            </div>
            <div class="col-md-4 col2">
                {% block search %}
                {% snippet 'home/snippets/search.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div role="main" aria-labelledby="Section where is listed organization's datasets">
    <div class="container">
        <div class="row row2">
            <div class="col-md-6 col1">
                {# Note: this featured_group block is used as an example in the theming
             tutorial in the docs! If you change this code, be sure to check
             whether you need to update the docs. #}
                {# Start template block example. #}
                {% block featured_group %}
                {% snippet 'home/snippets/featured_group.html' %}
                {% endblock %}
                {# End template block example. #}
            </div>
            <div class="col-md-6 col2" id="organization-datasets" style="display: none;">
                {% block featured_organization %}
                {% snippet 'home/snippets/featured_organization.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>