{% set intro = g.site_intro_text %}

{% resource 'cities-quest/list_questionnaires.js' %}
<link rel="stylesheet" href="/questionnaire_style.css" />
<div id="quest_section_init" class="module-content box" style="min-height: 25vh;">
    <header>
        {% if intro %}
        {{ h.render_markdown(intro) }}
        {% else %}
        <h1 class="page-heading">{{ _("List of Questionnaires Available") }}</h1>
        {% endif %}
    </header>
    <section class="group-list module module-narrow module-shallow">
        <!-- Loader -->
        <div class="page-loading-loader fade-out" id="loader_list_quests"
            style="display: block ;width: auto; max-height: 25vh">
            <img alt="Loader gif" style="margin: auto; display: block; width: 300px;" src="/loader.gif" />
        </div>
        <!-- Snippet snippets/package_list.html start -->
        <ul data-module="list_questionnaires" style="display: none" class="list-unstyled dataset-list" id="list-quests">

        </ul>
        <!-- Snippet snippets/package_list.html end -->
    </section>
</div>